<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="saleCount">
		SELECT SALE_COUNT
		FROM BOOK_MASTER
	</entry>
	
	<entry key="getCount">
		SELECT TITLE, SALE_COUNT, (SALE_COUNT * PRICE) SUMPRICE
		FROM BOOK_MASTER
		ORDER BY SUMPRICE DESC
	</entry>

</properties>